*, html {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    border: red 50px solid;
    border-radius: 50px;
    height: 60%;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.container > div {
    width: 6.25%;
    height: 6.25%;
    border: 1px solid black;
    flex: auto;
}